.Root {
  background: url("./brick-signed-mono-xs.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
}
.MuiTooltip-popper {
  text-align: center;
}
@-webkit-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@-moz-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@-o-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@-ms-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media only screen and (min-width: 600px) {
  .Root {
    position: fixed;
    height: 100%;
  }
  .Root::-webkit-scrollbar {
    display: none;
  }
}
